<% layout('./layouts/boilerplate.ejs') %>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-8">
            <div class="alert alert-danger rounded" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %> - <%= err.status %>
                </h4>
                <p>
                    <%= err.stack %>
                </p>
            </div>
        </div>
    </div>