<% layout('./layouts/boilerplate') %>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6 col-lg-4">
            <h1>Login Form</h1>
            <form action="/login" method="POST">
                <div class='mb-3'>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username"
                        required>
                </div>
                <div class='mb-3'>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                        placeholder="Enter Password" required>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>