<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/foods/<%= food._id %>/cart" method="POST">
                    <div class="d-flex justify-content-between">
                        <span>Quantity:</span>
                        <% if(food.qty===0 ) {%>
                            <p>out of stock</p>
                            <% }else{ %>
                                <select name="foodQty" id="qty" class="form-select">
                                    <% for(let i=1; i<=food.qty ; i++) {%>
                                        <option value="<%= i %>">
                                            <%= i %>
                                        </option>
                                        <% } %>
                                </select>
                                <% } %>
                                    </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>